<!-- add_task.html used to display form for adding a task -->
<!-- Primary Author: Julien Denis -->
<!-- Current Semester: Spring 2023 -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
</head>
<body>
    <h1>Add Task</h1>
    <!-- Display Title and Description fields -->
    <!-- Upon submission, go to submit_task and POST data -->
    <form method="POST" action="/submit_task">
        <label>Title:</label><br>
        <input type="text" name="title"><br>
        <label>Description:</label><br>
        <textarea name="description"></textarea><br>
        <input type="submit" value="Add Task">
    </form>
    <a href="/">Back to Tasks</a>
</body>
</html>
